/*reset*/
*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

/*Começo - Fernando CSS*/
.screen-quizz{
    display:none;
    flex-direction: column;
    margin: 0 auto;
    width:100%;    
}
.screen-quizz header h1{
    position: fixed;
    width:100%;
    height:69px;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}
.title-quizz h2{
    width:100%;
    height:227px;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("./imagens/background-title.png");
    display:flex;
    justify-content: center;
    align-items: center;        
}
/**INÍCIO CONFIGS PERGUNTAS*/
.questions{
    width:100%;
    margin-top:69px; /*Margem do tamanho do header*/
}
.question-box{
    width:759px;
    height:676px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto;
    padding: 30px 35px;
}
.question-title{
    width:688.16px;
    height:137.99px;
    background-color: #434CA0;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;    
    justify-content: center;
    align-items: center;
    text-align: center;    
    color: #FFFFFF;
}
.answers{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /**Distância para as perguntas nunca colarem no título, independente do tamanho*/
    gap:20px;
}
.answers .option{
    max-width:329.91px;
}
.answers img{
    width:329.91px;
    height:175.2px;
}
.answers p{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 8px 0;
}

.question-box div#correct{    
    color:#009C22;
    opacity:1;
}
.question-box .disabled div{
    opacity:0.3;
}
.question-box .disabled{
    color:#FF4B4B;
}


/**INÍCIO CONFIGS RESULTADO FINAL*/

.results-box{
    width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto 42px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
.results-title{
    width: 727px;
    height: 99px;
    background-color:#EC362D;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.results-content{
    display:flex;
    margin-top: 18px;
    gap: 20px;
}
.results-content img{
    width:364px;
    height:273;
}
.results-content p{
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
/**INÍCIO BOTÕES FIM DE QUIZZ*/
.quizz-end{
    height: 150px;    
    gap:15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-quizz-restart{
    background: #EC362D;
    border-radius: 15px;
    color: #FFF5F4    
}
.button-quizz-exit{    
    background: transparent;
    color:#818181
}
.button-quizz-exit,.button-quizz-restart{
    width: 260.38px;
    height: 52px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}


/*Fim - Fernando CSS*/

/*Começo - Yves CSS*/
#creation-quizz, #quizzlvl, #done-quizz{
    display: none;
}

#creation-quizz > header, #quizzlvl > header, #done-quizz > header{
    height: 69px;
    margin-bottom: 37px;
    background-color: #EC362D;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.212);
}
header >h1{
    color: #FFFFFF;
}

#creation-quizz > h4, #quizzlvl > h4, #done-quizz > h4{
    text-align: center;
    margin-bottom: 29px;
}

#creation-quizz form, #quizzlvl > form{
    background-color: #FFFFFF;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.091);
    margin-bottom: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#creation-quizz form > input, #quizzlvl > form > input{
    border: 1px solid #D1D1D1;

    margin-bottom: 9px;
    padding-left: 7px;
    height: 46px;
    width: calc(100% - 16px);

    color: #D1D1D1;

    text-align: left;
    font-style: italic;
    font-size: 19px;

    border-radius: 5px;
}
.title-form{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 20px);
    height: 74px;
}
#open-icon{
    height: 20px;
    width: 26px;
}
#btn-container{
    width: 100%;
    margin: 40px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#finish-btn{
    background-color: #EC362D;
    color: #FFFFFF;

    height: 54px;
    width: 354px;
    border-radius: 15px;

    font-size: 19px;
}

#lvl-description, #lvl-description2, #lvl-description3{
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    width: calc(100% - 18px);
    margin-bottom: 30px;

    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
#background-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 181px;
    width: 340px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("./imagens/backgroundimg-done.jpg");
    background-size: cover;
    border-radius: 5px;

}
#quizz-done-img{
    width: calc(100% - 20px);
}
#btn-container{
    display: flex;
    flex-direction: column;
}
.btn{
    width: 220px;
    height: 44px;
    margin: 4px 0px;

    background: #EC362D;
    border-radius: 15px;
    color: #FFF5F4  
}
#cancel-quizzbtn{
    background-color: transparent;
    color: #818181;
}
/*Fim - Yves CSS*/

/*Começo - Barci CSS*/

.screen-list-quizzes{
    display: none;
    justify-content: center;
}

.screen-list-quizzes header,
.info-quizz header{
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.screen-list-quizzes header>h1{
    width: 176px;
    height: 43px;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.screen-list-quizzes main{
    width: 1051px;
    margin-top: 69px;
}

.area-creation-quizz{
    width: 100%;
    height: 181px;
    margin: 77px 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
}

.area-creation-quizz>p{
    width: 250px;
    height: 107px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #B9B9B9;
    margin: 7px 0px;
}

.area-creation-quizz button{
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
}

.area-my-quizzes{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 48px;
}

.area-my-quizzes>div:nth-of-type(1){
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.area-my-quizzes div>p{
    width: 122px;
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-right: 17px;
}

.area-my-quizzes button{
    width: 31px;
    height: 30px;
    border-radius: 500px;
    background: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-my-quizzes img{
    width: 13px;
    height: 13px;
}

.area-all-quizzes{
    width: 100%;
    margin-bottom: 100px;
}

.area-all-quizzes>p{
    width: 158px;
    height: 23px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.area-all-quizzes>div,
.my-quizzes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-quizz{
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(imagens/Simpsons.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: end;
    margin-right: 15px;
    margin-bottom: 12px;
}

.card-quizz:nth-child(3n){
    margin-right: 0px
}

.card-quizz h2{
    width: 301px;
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 18px;
}


.info-quizz{
    display: none;
    justify-content: center;
}

.info-quizz main{
    width: 600px;
    margin-top: 69px;
}

.info-quizz h2{
    width: 207px;
    height: 27px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.form-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 71px;
}

.form-info form{
    width: 100%;
    height: 256px;
    background-color: #FFFFFF;
    margin-top: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.form-info form>input{
    width: calc(100% - 36px);
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
    margin-left: 16px;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}

.form-info form>input:nth-of-type(1){
    margin-top: 21px;
}

.form-info form>input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.form-info button{
    width: 340px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    margin-top: 85px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF5F4;
}

/*Fim - Barci CSS*/

.active{
    display:flex;
}

@media (max-width: 1100px) {

    /*Começo - Barci CSS*/

    .screen-list-quizzes main{
        max-width: 340px;
    }

    .area-my-quizzes{
        margin-top: 34px;
        margin-bottom: 38px;
    }

    .area-my-quizzes>div:nth-of-type(1){
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 13px;
    }

    .card-quizz{
        width: 340px;
        margin-right: 0px;
    }

    .area-creation-quizz{
        margin-top: 31px;
        margin-bottom: 35px;
    }

    /*Fim - Barci CSS*/

    /*Começo - Fernando CSS*/
    .title-quizz h2{
        min-width:375px;
        width:100%;
        height:142px;
        font-size: 19px;
        line-height: 22.27px;     
    }
    .question-box{
        width:375px;
        height:436px;        
        margin: 28px auto;
        padding: 15px;
        justify-content: center; /*A proporção é menor, então esse ajuste fica melhor aqui*/
    }
    .question-title{
        width:340px;
        height:89px;
        font-weight: 700;
        font-size: 19px;
        line-height: 22.27px;        
    }
    .answers{
        margin-top: 13px; /**Distância para as perguntas nunca colarem no título, independente do tamanho*/
        gap:12px;
    }
    .answers .option{
        max-width:163px;
    }
    .answers img{
        width:163px;
        height:113px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(imagens/Simpsons.jpg);
        background-size:cover;
    }   
    .answers p{        
        font-weight: 700;
        font-size: 13px;
        line-height:15.23px;
        margin: 5px 0;
    }
    .results-box{
        width: 375px;
        padding: 18px;
    }
    .results-title{
        width: 340px;
        height: 99px;
        font-weight: 700;
        font-size: 19px;
        line-height: 22.27px;
    }
    .results-content{
        flex-direction: column;
        margin-top: 18px;
        gap: 20px;
    }
    .results-content img{
        width:340px;
        height:255px;
    }
    .results-content p{
        font-weight: 700;
        font-size: 17px;
        line-height: 19.92px;
    }
    .button-quizz-exit,.button-quizz-restart{
        width: 220.32px;
        height: 44px;
        font-size: 18px;
    }
    .quizz-end{
        gap: 8px;
        min-width:375px;
    }
    /*Fim - Fernando CSS*/
}

@media (max-width: 600px) {
    .info-quizz main{
        width: 100%;
    }
}

@media (max-width: 340px) {
    .screen-list-quizzes main{
        width: 100%;
    }

    .card-quizz{
        width: 100%;
        margin-right: 0px;
    }

    .form-info button{
        width: 100%;
    }
}



